.imageIcon {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.imageIcon,
.imageIcon:hover {
  background-color: var(--color-silver);
  height: 200px;
  border-radius: var(--br-3xs);
}
.hoteltype,
.hoteltype:hover,
.imageIcon,
.imageIcon:hover {
  display: flex;
  align-self: stretch;
  width: auto;
}
.hoteltype,
.hoteltype:hover {
  letter-spacing: 0.02em;
  color: var(--color-gray-100);
}
.hoteltype {
  position: relative;
}
.hoteltype:hover {
  font-family: var(--components-button-large);
  font-size: var(--components-input-text-size);
  text-align: left;
}
.hotelname {
  position: relative;
  font-size: var(--font-size-3xl);
  text-transform: capitalize;
  font-weight: 700;
}
.hotelname,
.hotelname:hover,
.price,
.price:hover {
  letter-spacing: 0.04em;
  display: flex;
  align-self: stretch;
  width: auto;
}
.hotelname:hover {
  font-weight: 700;
  font-family: var(--components-button-large);
  font-size: var(--font-size-3xl);
  text-align: left;
  color: var(--color-darkslategray-300);
}
.price,
.price:hover {
  font-size: var(--font-size-lg);
}
.price {
  position: relative;
}
.price:hover {
  font-family: var(--components-button-large);
  text-align: left;
  color: var(--color-darkslategray-300);
}
.stayDetailsRows,
.stayDetailsRows:hover {
  display: flex;
  flex: 1;
  height: auto;
  flex-direction: column;
  gap: var(--gap-7xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.stayDetails,
.stayDetails:hover {
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
  flex-direction: row;
  gap: var(--gap-2xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.vectorIcon {
  position: relative;
}
.vectorIcon,
.vectorIcon:hover {
  background-color: var(--color-gold);
  display: flex;
  width: 15.7px;
  height: 17.2px;
}
.rating1,
.rating1:hover {
  font-weight: 500;
  letter-spacing: 0.04em;
  display: flex;
  min-width: 25;
}
.rating1 {
  position: relative;
}
.rating1:hover {
  font-family: var(--components-button-large);
  font-size: var(--components-input-text-size);
  text-align: left;
  color: var(--color-darkslategray-300);
}
.vectorParent {
  overflow: hidden;
}
.vectorParent,
.vectorParent:hover {
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  flex-direction: row;
  gap: var(--gap-11xs);
  align-items: center;
  justify-content: flex-start;
}
.reviews,
.reviews:hover {
  letter-spacing: 0.04em;
  color: var(--color-cornflowerblue-100);
  display: flex;
  flex: 1;
  min-width: 81;
}
.reviews {
  text-decoration: none;
  position: relative;
}
.reviews:hover {
  font-family: var(--components-button-large);
  font-size: var(--components-input-text-size);
  text-align: left;
}
.rating {
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  height: auto;
}
.button,
.rating,
.rating:hover {
  align-self: stretch;
  display: flex;
  width: auto;
}
.rating:hover {
  height: auto;
  flex-direction: row;
  gap: var(--gap-5xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.button {
  position: relative;
  letter-spacing: 0.46px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
}
.button:hover,
.moreDetailsButton {
  align-self: stretch;
  width: auto;
  text-align: center;
  font-size: var(--components-button-large-size);
  color: var(--color-cornflowerblue-100);
}
.button:hover {
  font-weight: 500;
  font-family: var(--components-button-large);
  letter-spacing: 0.46px;
  line-height: 26px;
  display: flex;
}
.moreDetailsButton {
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-lavender);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) 0;
  white-space: nowrap;
  gap: var(--gap-0);
}
.hotelcard,
.hotelcard:hover,
.moreDetailsButton,
.moreDetailsButton:hover {
  display: flex;
  height: auto;
  flex-direction: column;
  box-sizing: border-box;
}
.moreDetailsButton:hover {
  align-self: stretch;
  width: auto;
  gap: var(--gap-0);
  align-items: center;
  justify-content: center;
  border-radius: var(--br-9xs);
  padding: var(--padding-5xs) 0;
  border: 1px solid var(--color-lavender);
  white-space: nowrap;
}
.hotelcard,
.hotelcard:hover {
  width: 308px;
  gap: var(--gap-4xl);
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: var(--br-3xs);
  padding: var(--padding-smi) var(--padding-xs);
  border: 1px solid var(--color-whitesmoke);
  min-width: 280;
}
.hotelcard {
  flex-shrink: 0;
  text-align: left;
  font-size: var(--components-input-text-size);
  color: var(--color-darkslategray-300);
  font-family: var(--components-button-large);
}
.hotelcard:hover {
  background-color: var(--primary-contrast);
}
.hotelcard,
.hotelcard:active {
  background-color: var(--color-gainsboro);
}
